/* Header.css */
:root {
  --background-color: white;
  --text-color: #405d97;
  --texteee-color:rgb(138, 138, 138);
  --header-background: #1158e7;
  --header-text-color: #ffffff;
  --section-background: white;
  --section-text-color: #000000;
  --text-family:cavet;
 
  --toggle-shadow: none;
  --sun-color: #000;
  --moon-color: #ddd;
}

body.light {
  --background-color: white;
  --textee-color: #405d97;
  --text-color:black;
  --header-background: #1158e7;
  --header-text-color: #ffffff;
  --section-background: white;
  --backgroundeee-color:rgb(223, 221, 221);
  --section-text-color: #405d97;
  --textert-color:white;
  --toggle-shadow: none;
  --sun-color: #000;
  --moon-color: #ddd;
}

body.dark {
  --background-color: black;
  --textee-color: gray;
  --font-family:bold;
  --text-color:white;
  --header-background: black;
  --backgroundeee-color:rgb(38, 38, 38);
  --header-text-color:#ffffff;
  --section-background: black;
  --textert-color:gray;
  --section-text-color:gray;
  --toggle-background: transparent;
  
  --sun-color: #222;
  --moon-color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.App {
  text-align: center;
}

.header {
  background-color: #405d97;
  color: var(--header-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 35px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 a {
  color: var(--header-text-color);
  text-decoration: none;
  
}


.allpara-styels {
  color: var(--texteee-color);
  font-weight: bold;
}



header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  
  align-items: center;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: var(--header-text-color);
  text-decoration: none;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #ffdd57;
  
}

.theme-toggle-container {
  display: flex;
  align-items: center;
  position:sticky;
}

#theme-toggle {
  display: none;
}

.theme-toggle-label {
  display: inline-block;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--toggle-background);
  box-shadow: var(--toggle-shadow);
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-left: 10px;
  position:relative;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  
}

main {
  padding: 100px 20px 20px;
}

section {
  margin: 40px 0;
  background: var(--section-background);
  padding: 20px;
  border-radius: 8px;
}

footer {
  background: var(--header-background);
  color: var(--textert-color);
  font-weight: var(--font-family);
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;

}

.image {
  height: 45px;
  width: 45px;
  border-radius: 22px;
}




.underlinee {
  background-color: #405d97;
  height: 3.5px;
  border-radius: 55px;
  width: 113px;
  
}





.adjustmentlec{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -37px;
}

.adjustmentleccc {

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -20px;
}

.abouthedingstyle {
  font-family:caveat;
  
 
  
}

.molp-para{
  max-width: 380px;
}






.services h2 {
  margin-bottom: 20px;
  color: var(--textee-color);
}

.service-list {
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
}

.service {
  width: 100%;
  max-width: 420px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #405d97;
  text-align: center;
  border-radius: 15px;
  background-color: var(--section-background);
  transition: transform 0.3s, box-shadow 0.3s;
}

.service:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.service h3 {
  margin-top: 0;
  color: var(--textee-color);
}


/* Contact.css */
.contact-section {
  padding: 60px 20px;
 
  text-align: center;
}

.contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: var(--textee-color);
  font-family: var(--text-family);
}

.aboutsection {

  font-size: 2.5rem;
  margin-bottom: 40px;
  color: var(--textee-color);
  font-family: var(--text-family);
}

.portfolop {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: var(--textee-color);
  font-family: var(--text-family); 
}

.Oursection {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: var(--textee-color);
  font-family: var(--text-family);
}

.form-container {
  display: flex;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 500px;
}


.informaton-edt{
  display: flex;
  justify-content: space-between;
}




.input-field,
.textarea-field {
  padding: 18px;
  border-radius: 8px;
  border: 1px solid var(--textee-color);
  background-color:var(--background-color);
  
  font-size: 1rem;
  color: var(--texte-color);
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  border-width: 2px;
}

.ContactVasuAlignee {
  background-color:#0ceaea;
  width: 28px;
  height: 24px;
  margin-left: 22px;
  text-align: center;
  padding-top: 4px;
  border-radius: 8px;
  border-style: solid;
  color: rgb(18, 17, 17);
  border-width: 1px;
  margin-top: 12px;
  
}
.ContactVasuAlignee:hover {
  background-color:#1f1f38;
  width: 28px;
  height: 24px;
  margin-left: 22px;
  text-align: center;
  padding-top: 4px;
  border-radius: 8px;
  border-style: solid;
  color:white;
  border-width: 1px;
  box-shadow: 10px 10px 20px rgba(10, 10, 10, 0.5);
  
}

.minisecpokl{
  background-color:var(--backgroundeee-color);
  color: white;
  margin-top: 42px;
  display: flex;
  width:100vw;
  margin-bottom: -46px;
  margin-left: -42px;
  flex-direction: row;
  justify-content: space-between;
  
}

.koopw {
  display: flex;
  flex-direction: column;
  margin: 32px;
}


.textarea-fieldee {
  padding: 18px;
  border-radius: 8px;
  border: 1px solid var(--textee-color);
  background-color:var(--background-color);
  
  font-size: 1rem;
  color: var(--texte-color);
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  border-width: 2px;
}



.input-field:focus,
.textarea-field:focus {
  border-color: #0056b3;
  box-shadow: 0 0 10px rgba(17, 88, 231, 0.2);
}

.textarea-field {
  resize: vertical;
  min-height: 120px;
}

.submit-button {
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #405d97;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Responsive Styles */
@media (max-width: 600px) {
  .contact-form {
    padding: 20px;
  }

  .input-field,
  .textarea-field {
    width: 100%;
  }
}

/* Portfolio.css */

.portfolio {
  padding: 2em;
  background: var(--section-background);
  text-align: center;
}

.portfolio-title {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  color: var(--textee-color);
  font-family:var(--text-family);
}

.underline {
  width: 5em;
  height: 4px;
  background-color: #405d97;
  margin: 0 auto 2em;
  border-radius: 2px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio-item {
  background: var(--section-background);
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
  margin: 1em;
  padding: 1.5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.portfolio-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.portfolio-item h3 {
  font-size: 1.5em;
  color: #405d97;
  margin-bottom: 0.5em;
 
}

.portfolio-item p {
  color: var(--texte-color);
  margin-bottom: 1em;
}

.view-button {
  background-color: #405d97;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-button:hover {
  background-color: #0056b3;
}

 
.sizing {
  
  border-radius: 23px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: #405d97;
}

.clintinage {
  height:75px ;
  border-radius: 145px;
  margin-top: 30px;
  
}

.settingclintsection {
  display: flex;
  justify-content:row;

}

.clintser {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

.elementalingmen {
  display: flex;
  flex-direction: column;
}

.about {

 padding: 43px;
}

/* Add these styles to your existing CSS file */

.portfolio {
  padding: 2rem;
  background-color:var(--background-color);
  text-align: center;
}

.portfolio-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--textee-color);
}

.underline {
  width: 5rem;
  height: 0.25rem;
  background-color: #00aaff;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.portfolio-item {
  background: var(--background-color);
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  text-align: left;
}

.view-button {
  background-color: #00aaff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.view-button a {
  color: white;
  text-decoration: none;
}

.abouthedingstyle {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.sizing {
  padding: 2rem;
}

.clintser {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--background-color);
  padding: 1rem;
  border-radius: 8px;
  color:#405d97 ;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}





.clintinage {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.elementalingmen h1 {
  font-size: 1.5rem;
  color:#405d97 ;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.molp-para {
  font-size: 1rem;
  color: #666;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolio-item {
    margin: 1rem;
    width: calc(50% - 2rem);

  }
}

@media (min-width: 1024px) {
  .portfolio-item {
    width: calc(33.333% - 2rem);
  }
}
