body.light {
  --background-color: #ffffff;
  --text-color: #000000;
  --header-background: #282c34;
  --header-text-color: #ffffff;
  --section-background: #f9f9f9;
  --section-text-color: #000000;
  --toggle-background: gold;
  --toggle-shadow: none;
  --sun-color: #000;
  --moon-color: #ddd;
}

body.dark {
  --background-color: #121212;
  --text-color: #ffffff;
  --header-background: #1e1e1e;
  --header-text-color: #ffffff;
  --section-background: #1e1e1e;
  --section-text-color: #ffffff;
  --toggle-background: transparent;
  --toggle-shadow: inset -18px -16px 1px 1px #fff;
  --sun-color: #222;
  --moon-color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

header {
  background: var(--header-background);
  padding: 20px;
  color: var(--header-text-color);
  background-color: tiber;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: caveat;
  
}

header h1 {
  margin-left: -202px;
}

header nav ul {
  list-style: none;
  margin-left: 202px;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
}

header nav ul li a {
  color: var(--header-text-color);
  text-decoration: none;
}



.intro-text {
  top: 180px;
  font-size: 1.6em;
  font-family: monospace;
}

[class*=text-] {
  font-size: 1.2em;
  font-weight: 600;
  transition: color 500ms ease-in;
}

.text-sun {
  color: var(--sun-color);
}

.text-moon {
  color: var(--moon-color);
}

#theme-toggle {
  visibility: hidden;
}

#theme-toggle + label {
  content: '';
  display: inline-block;
  cursor: pointer;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  background-color: var(--toggle-background);
  box-shadow: var(--toggle-shadow);
  transition: all 0.3s ease-in-out;
  position: fixed;
  margin-left: 175px;
}



main {
  padding: 20px;
}
.header{
  background-color: rgb(192, 43, 105);
}



section {
  margin: 40px 0;
  background: var(--section-background);
  padding: 20px;
  border-radius: 8px;
}

footer {
  background: var(--header-background);
  color: var(--header-text-color);
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}


.services {
  padding: 20px;
  height: 100vh;
  
}

.services h2 {
  margin-bottom: 20px;
  color: var(--text-color);
}

.service-list {
  display: flex;
  justify-content: space-around;
}

.service {
  width:420px;
  background:gray;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: rgba(178, 82, 120, 0.295);
  text-align: center;
  opacity: 1;
  border-radius: 32px;
}

.service h3 {
  margin-top: 0;
  color: var(--text-color);
}


.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clintsection {
  background-color: gray;
  height: 50px;
  width: 150px;
}

.about {
  display: flex;
  flex-direction:column;
  justify-content: center;
  height: 100vh;
  
  
}

.clintser{
  background-color: #696565;
  color: white;
  width: 50rem;
  height: 8rem;
  border-radius: 12px;
  text-align:center;
  margin: 8px;
}

.sizing {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.totalcontact {
  
  height: 100vh;
  
  
}

.portfolio {
  
  height: 100vh;
}


.messaret{
  height: 120px;
  width: 420px;
  border-radius: 12px;
  border-width: 0.1px;
  border-color:gray;
  border-style: solid;
}